whatsapp_appointment_notifications.json
{
  "name": "WhatsApp Appointment Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-trigger",
        "options": {}
      },
      "id": "webhook-trigger-node",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "whatsapp_config",
        "filters": {
          "conditions": [
            {
              "keyName": "tenant_id",
              "condition": "eq",
              "keyValue": "={{ $json.body.tenant_id }}"
            }
          ]
        }
      },
      "id": "get-whatsapp-config",
      "name": "Get WhatsApp Config",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "notesInFlow": true,
      "notes": "Query WhatsApp credentials for the tenant"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.id }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-config-exists",
      "name": "If Config Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get WhatsApp Config').item.json.api_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get WhatsApp Config').item.json.auth_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Webhook Trigger').item.json.body.patientPhone }}"
            },
            {
              "name": "type",
              "value": "template"
            },
            {
              "name": "template",
              "value": "={ \"name\": \"hello_world\", \"language\": { \"code\": \"en_US\" } }"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp-message",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        850,
        280
      ],
      "notesInFlow": true,
      "notes": "TODO: Swap credentials and template as needed for real WA API"
    },
    {
      "parameters": {
        "tableId": "whatsapp_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tenant_id",
              "fieldValue": "={{ $('Webhook Trigger').item.json.body.tenant_id }}"
            },
            {
              "fieldId": "contact_name",
              "fieldValue": "={{ $('Webhook Trigger').item.json.body.patientName }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Webhook Trigger').item.json.body.patientPhone }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "outbound"
            },
            {
              "fieldId": "message_body",
              "fieldValue": "Appointment confirmed for {{ $('Webhook Trigger').item.json.body.appointmentDate }} at {{ $('Webhook Trigger').item.json.body.appointmentTime }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "sent"
            },
            {
              "fieldId": "appointment_status",
              "fieldValue": "={{ $('Webhook Trigger').item.json.body.status || 'Confirmed' }}"
            }
          ]
        }
      },
      "id": "log-message-supabase",
      "name": "Log Message in DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1050,
        280
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get WhatsApp Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WhatsApp Config": {
      "main": [
        [
          {
            "node": "If Config Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Config Exists": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Log Message in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "12345678-1234-1234-1234-1234567890ab",
  "triggerCount": 1,
  "tags": []
}
